@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  .title-text {
    @apply md:text-[42px] text-[34px] md:text-start text-center text-white font-semibold;
  }
  .p-text {
    @apply font-medium text-[16px] text-secondary-black;
  }
}

@layer components {
  .btn-primary {
    @apply bg-secondary-color px-6 py-2 rounded-sm text-white font-medium z-10 hover:bg-primary-hover focus:ring-2 focus:ring-sky-300 transition-all ease-cubic-bezier duration-300 delay-0 active:bg-secondary-color drop-shadow-lg;
  }
  .gradient-01 {
    left: 50%;
    transform: translateX(-50%);
    width: 515px;
    height: 100%;
    opacity: 0.8;
    clip-path: polygon(46% 0%, 82% 0%, 67% 100%, 0% 100%);
    background: transparent
      linear-gradient(130.09deg, #3d47bd 0%, #2e37a4 50.8%);
  }
}
